# Copy this file to 'credentials' (no extension) and fill in your keys.
# Profile names are used in ETL tool: aws_profile="last-mile-staging"

[last-mile-staging]
aws_access_key_id = YOUR_KEY_HERE
aws_secret_access_key = YOUR_SECRET_HERE

[forecast-artifacts]
aws_access_key_id = YOUR_KEY_HERE
aws_secret_access_key = YOUR_SECRET_HERE
